@font-face {
  font-family: "NightClub";
  src: url("../public/Night\ Club\ 70s\ Regular.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');

.neonText {
  font-family: 'NightClub';
  font-size: 87px;
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(0, 247, 255),
    0 0 82px rgb(0, 247, 255),
    0 0 92px rgb(0, 247, 255),
    0 0 102px rgb(0, 247, 255),
    0 0 151px rgb(0, 247, 255);
  animation: flicker 1.9s infinite alternate;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #00f7ff,
      0 0 80px rgb(0, 247, 255),
      0 0 90px rgb(0, 247, 255),
      0 0 100px rgb(0, 247, 255),
      0 0 150px rgb(0, 247, 255);
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000020;
  
  /* vignette */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 200px rgba(0,0,0,6) inset;

}